node_modules
packages/**/dist
libs/**/dist
packages/**/node_modules
libs/**/node_modules

# Compiled output
packages/**/tmp
packages/**/out-tsc
packages/**/bazel-out

# Node
npm-debug.log
yarn-error.log
packages/**/npm-debug.log
packages/**/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
libs/**/.angular/cache
packages/**/.angular/cache
packages/**/.sass-cache/
packages/**/connect.lock
packages/**/coverage
packages/**/libpeerconnection.log
packages/**/testem.log
packages/**/typings

# System files
packages/**/.DS_Store
packages/**/Thumbs.db
.DS_Store
